extends ../_layout

block content
    div.main
      h1 Results for ' #{keys} '
        -for (var i = 0; i < posts.length; i++) {
            h2: a(href="/posts/" + posts[i]._id)= posts[i].subject
            p= posts[i].body
            a(href="/posts/" + posts[i]._id + "/edit") [Edit]
            form(method="post" action="/posts/" + posts[i]._id + "/del")
              input(type="submit", value="del")
              input(type="hidden", name="_id", value=posts[i]._id)
        -}
        //- h2: a(href="/posts/" + posts.id)= posts[i].subject
        //- a(href="/posts/" + posts.id +"/edit") [Edit]
        //- form(method='post' action='/posts/' + posts.id + '/del')
        //-   input(type="submit", value="del")
        //-   //- input(type="hidden", name="_method", value="delete")
        //-   input(type="hidden", name="id", value=posts.id)
      p
        a(href='/posts/new') @ Add New @
        span &nbsp;
        a(href='/posts') @ Full List @
    div.sidebar
      h2(style="color: white;") Search
      form(type="post", action="/posts/search")
        -var placehld = keys.split('|').join(' ');
        input(type="text", name="keywords", placeholder=placehld)
        input(type="submit", value="Find")
